services:

  ptcript:
    image: python.scrypt:1
    build: https://github.com/ABOBEC/Docker.git#master:PG
    restart: 'no'
    links:
      - "db:database"
 



    
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: user
      POSTGRES_USER: user
    ports:
      - 5432:5432
  


  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080